<!DOCTYPE html>
<html>
  <head>
    <title>CrutoRb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to 'Home', root_path,  class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to 'Show all users', admins_users_path, class: 'nav-link px-2 text-white' %></li>
          </ul>

          <ul class="nav col-12 col-lg-auto">
            <% if admin_signed_in? %>
              <li>
                <a class="nav-link px-2 text-white" href="#">Admin Present</a>
              </li>
              <li><%= link_to 'Log Out', session_path, class: 'nav-link px-2 text-white', data: {method: :delete} %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_admin_path, class: 'nav-link px-2 text-white' %></li>
              <li><%= link_to 'Log In', new_session_path, class: 'nav-link px-2 text-white' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>


<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";

  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyB-dBdp8Qfl9Edrp8478YAcfSIZ3Iw4gRw",
    authDomain: "rubynotif.firebaseapp.com",
    projectId: "rubynotif",
    storageBucket: "rubynotif.appspot.com",
    messagingSenderId: "1001608753563",
    appId: "1:1001608753563:web:2903c41d94b64a351e313e"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);

</script>
</html>
